[Unit]
Description=galera-cluster-node
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
EnvironmentFile=/etc/environment

ExecStartPre=-/bin/bash -c "/usr/bin/docker pull $(/usr/bin/etcdctl get /endpoints/registry)/galera-cluster-node:v1"
ExecStartPre=-/bin/bash -c "/usr/bin/docker kill galera-cluster-node-%i"
ExecStartPre=-/bin/bash -c "/usr/bin/docker rm galera-cluster-node-%i"

ExecStart=/bin/bash -c "/usr/bin/docker run \
                        --name galera-cluster-node-%i \
                        -p 3306:3306 -p 4444:4444 -p 4567:4567 -p 4568:4568 \
                        -e ETCD_ENDPOINT=$(ifconfig docker0 | grep 'inet ' | awk '{ print $2}'):4001 \
						-e GALERA_WSREP_NODE_ADDRESS=${COREOS_PRIVATE_IPV4} \
                        $(/usr/bin/etcdctl get /endpoints/registry)/galera-cluster-node:v1 \
                        /bin/bash /opt/start.sh"

ExecStop=/bin/bash -c "/usr/bin/docker stop galera-cluster-node-%i"
ExecStopPost=/bin/bash -c "/usr/bin/docker rm galera-cluster-node-%i"

[X-Fleet]
X-Conflicts=galera-cluster-node@%i.service
