[Unit]
Description=Announce galera-cluster-node-%i
BindsTo=galera-cluster-node@%i.service

[Service]
EnvironmentFile=/etc/environment
ExecStart=/bin/bash -c "while true; do etcdctl set /endpoints/galera-cluster-nodes/%i ${COREOS_PRIVATE_IPV4} --ttl 20; sleep 15; done"
ExecStop=/usr/bin/etcdctl rm /endpoints/galera-cluster-nodes/%i

[X-Fleet]
MachineOf=galera-cluster-node@%i.service
